body{
    display: flex;
    background-image: url(./assign\ 3_1.jpg);
    background-size: cover;
    height: 100vh;


}

.main-page-div{
    background-color: white;
    border: 2px solid black ;
    box-shadow: inset 15px 20px 20px pink;
    border-radius: 0 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;

    

}
.main-page-heading{
    font-size: 24px;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    
}

.text-1{
    margin-top: 50px;
    
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: Arial;
}
.text-2{
    margin: 0;
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: Arial;
}
.text-3{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: Arial;
}