button{
    width: 150px;
    height: 35px;
    background-color: deepskyblue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;

}
button:hover{
    background-color: crimson;
}

.para{
    font-size: 50px;
    font-family: 'Kolker Brush', cursive;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: yellowgreen;
    transition: width 4s;
    
}

.box:hover{
    width: 400px;
    
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background-color: darkslateblue;
    animation-name: moving-circle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  
}

@keyframes moving-circle {
0%{left:0px; top:0px;

}
25%{left:400px; top:0px; background-color: chartreuse;
    
}
50%{left:400px; top:400px; background-color: dimgrey;
    
}
75%{left:0px; top:400px; background-color: hotpink;
    
}
100%{left:0px; top:0px; background-color: lightgreen;
    
}
}

.circle2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    transform: translate(23px, 23px);
    border: 2px solid white;
}



@media screen and (min-width:370px) and (max-width:750px){
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(162, 113, 197);
    transition: width 4s;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(187, 177, 68);
}
    
}